<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <link href=”//cdn.muicss.com/mui-0.9.4/css/mui.min.css” rel=”stylesheet” type=”text/css” />
    <script src=”//cdn.muicss.com/mui-0.9.4/js/mui.min.js”></script>
    <meta charset="UTF-8"/>
    <title>Rock Paper Scissors Application</title>
    <link rel="stylesheet" href="/login.css" />
</head>
<body>

<div id="login"></div>

<script src="built/login.js"></script>

</body>
</html>
